body {
  margin: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(253,170,139);
  background: linear-gradient(90deg, rgba(255,220,114,1) 0%, rgba(253,246,235,1) 33%, rgba(202,237,165,1) 100%);
  display: grid; 
  height: 100vh;
  place-content: center;
}


